<div class="form-group row">
    <label class="col-sm-2 col-form-label">Department Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="DepartmentName" placeholder="Enter Department Name"/>
    </div>
</div>

<button (click)="addDepartment()" *ngIf="dep.DepartmentId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateDepartment()" *ngIf="dep.DepartmentId!=0" class="btn btn-primary">
    Update
</button>