<div class="container">
    <h3 class="d-flex justify-content-center">Angular 10, Web API, SQL Server App Demo</h3>
    <h5 class="d-flex justify-content-center">Employee Management Portal</h5>
    
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="department" class="m-1 btn btn-light btn-outline-primary" Button>Departments</button>
                <button routerLink="employee" class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>


</div>
